<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRADES (QWA) CALCULATOR</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <header class="schoolname">Mapúa University</header>
        <h2 class="h2">Grades (QWA) Calculator</h2>
        <table>
            <caption>QWA Calculator</caption>
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>No. of Units</th>
                <th>Final Grade</th>
            <tr>
               <td>
                  <input type='text' name="coursecode" placeholder="Input Course Code">
               </td>
               <td>
                  <input type="text" name="coursename" placeholder="input course name">
               </td>
               <td>
                  <input type="number" name="number of units" placeholder="input number of units">
               </td>
               <td>
                  <input type="number" name="finalgrade" placeholder="input your final grade">
               </td>
            <tr>
               <td>
                  <input type='text' name="coursecode" placeholder="Input Course Code">
               </td>
               <td>
                  <input type="text" name="coursename" placeholder="input course name">
               </td>
               <td>
                  <input type="number" name="number of units" placeholder="input number of units">
               </td>
               <td>
                  <input type="number" name="finalgrade" placeholder="input your final grade">
               </td>
            <tr>
               <td>
                  <input type='text' name="coursecode" placeholder="Input Course Code">
               </td>
               <td>
                  <input type="text" name="coursename" placeholder="input course name">
               </td>
               <td>
                  <input type="number" name="number of units" placeholder="input number of units">
               </td>
               <td>
                  <input type="number" name="finalgrade" placeholder="input your final grade">
               </td>  
           
        </table>


        
</body>
    
</html>